block title
  title PhyloCanvas
meta(name='viewport', content='width=device-width')
<!-- Latest compiled and minified CSS -->
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
link(rel='icon', type='image/png', href='/assets/img/phylocanvas_logo.png')
<!-- Optional theme -->
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css')
link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,500,100', rel='stylesheet', type='text/css')

block styles
  link(rel='stylesheet', href='/assets/css/phylodoc.css')
