<nav id="leftmenu" class="hidden-xs">
  <div id="accordion_menu">
    <ul>
      <li><a class="active " href="index.html">Overview</a></li>
      <li><i class="glyphicon glyphicon-cloud-upload"></i><a target="_blank" href="./docs/phylocanvas_app.html"> Live Upload</a></li>
      <li><a class="" href="./getting_started.html">Getting Started</a></li>
      <li><a class="" href="./tech_doc.html">Technical Doc</a></li>
      <li><a class="" href="./api_ref.html">API Reference</a></li>
      <li><a class="" href="./code_samples.html">Code Samples</a></li>
      <li><a class="" href="./contact.html">Contact Us</a></li>
    </ul>
  </div>
</nav>
