script(src='//code.jquery.com/jquery-2.1.1.min.js')

block scripts
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
  script(src='/assets/js/phylodoc.js')

script(type='application/javascript', src='https://cdn.rawgit.com/PhyloCanvas/PhyloCanvas/v1.6.0/src/scripts/PhyloCanvas.js')

block post-scripts
