script(src='//code.jquery.com/jquery-2.1.1.min.js')

block scripts
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
  script(src='/assets/js/phylodoc.js')

script(type='application/javascript', src='https://cdn.rawgit.com/PhyloCanvas/PhyloCanvas/release/2.0.0/dist/phylocanvas.min.js')

block post-scripts
