
<section id="getting_started">
  <h1>How to use</h1>
  <hr>
  <div id="initialize">
    <h3>Clone from GitHub</h3>
    <p>
      Clone the PhyloCanvas repository from GitHub to your local machine:
    </p>
    <pre class="code">$ git clone https://github.com/PhyloCanvas/PhyloCanvas.git</pre>
    <h3>Add to HTML</h3>
    <p>
      Use a <code>&lt;script&gt;</code> tag to add PhyloCanvas to your HTML page:
    </p>
    <pre class="code">
&lt;script type="application/javascript" src="/PhyloCanvas/src/scripts/PhyloCanvas.js"&gt;&lt;/script&gt;</pre>

    <p>Remember to adjust the URL to suit the location of the PhyloCanvas code within your project</p>
    <h3>Initialize and Load your Tree</h3>
    <p>You only need 2 lines of code to get your phylocanvas instance up and running.
      <ul class="circle">
        <li>One to initialize the viewer and </li>
        <li>Second to load the file. </li>
      </ul>
    </p>

    <pre class="code">
var phylocanvas = new PhyloCanvas.Tree(<i>div</i>, <i>[config object]</i>); // initialize your tree viewer
phylocanvas.load(<i>Newick / Nexus</i>); // load your tree file</pre>
    <p>
      Where
      <dl class="dl-horizontal">
        <dt><i>div</i></dt>
        <dd>ID of the <code>&lt;div&gt;</code> or the element itself used to draw the tree</dd>
        <dt><i>config object</i></dt>
        <dd>Optional parameters used to configure the tree <a href="api_ref.html">See more config options</a></dd>
        <dt><i>Newick</i></dt>
        <dd> A string or a file that contains a Newick or Nexus formatted tree <a target="_blank" href="docs/data/simple_tree.nwk">Sample Newick</a></dd>
      </dl>
    </p>

    <h3> Your final HTML </h3>
    <pre>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;script type="application/javascript" src="PhyloCanvas.js"&gt;&lt;/script&gt;
&lt;script type="application/javascript"&gt;
window.onload = function() {
// Initializing tree object
var phylocanvas = new PhyloCanvas.Tree('phylocanvasDiv');
var newick_str = "((B:0.2,(C:0.3,D:0.4)E:0.5)F:0.1)A;";
phylocanvas.load(newick_str);
}
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div id="phylocanvasDiv"&gt;&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
    <a class="showExample" data-height="450" data-href="http://jsbin.com/heyofibifo/4/embed?output">View live</a>
  </div>
</section>
