<section id="overview">
  <div id="banner">
    <h4 style="float: right">Version <b>1.5.0</b></h4>
    <h1 class="pageheader"><img src="img/phylocanvas_logo.png" width="25%" style="padding: 10px 20px"><span class="light"> Phylo</span>Canvas</h1>
    <a id="downloadButton" download="PhyloCanvas.js" href="https://raw.githubusercontent.com/PhyloCanvas/PhyloCanvas/master/src/scripts/PhyloCanvas.js" class="downloadButton btn btn-custom hidden-xs"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Download JS</a>
    <a download="PhyloCanvas.js" href="https://raw.githubusercontent.com/PhyloCanvas/PhyloCanvas/master/src/scripts/PhyloCanvas.js" id="downloadButton" class="btn btn-custom visible-xs"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Download JS</a>
  </div>

  <div class="paragraph">
    <p>PhyloCanvas is written entirely in browser-native JavaScript, using no external libraries, and uses the HTML5 Canvas element.</p>
    <p>The intention of PhyloCanvas is to make a tree viewer that is as widely reusable, extensible and performant.</p>
  </div>
  <h3>Example</h3>

  <div id="pc-buttons">
    <button id="rectangular" class="btn btn-default btn-sm">Rectangular</button>
    <button id="circular" class="btn btn-info btn-sm">Circular</button>
    <button id="radial" class="btn btn-default btn-sm">Radial</button>
    <button id="diagonal" class="btn btn-default btn-sm">Diagonal</button>
    <button id="hierarchy" class="btn btn-default btn-sm">Hierarchical</button>
  </div>
  <div id="phylocanvas"></div><br>
</section>
