doctype html
html
  head
   include ../fragments/head
  body
    include ../fragments/navbar.html
    block main
      include ../fragments/github.html
      .container
        .row
          .col-lg-2.col-md-3.col-sm-3
            include ../fragments/menu
          #content.col-lg-9.col-md-8.col-sm-8
            block content
    include ../fragments/footer.html
    include ../fragments/scripts
