body {
	margin: 0px auto;
	padding: 0px auto;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
  font-weight: 400;
	max-width:none;
  height: 100%;
}

.navbar {
  margin: 0px;
  background-color: hsl(281, 33%, 8%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3e254a", endColorstr="#160d1b");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#3e254a), to(#160d1b));
  background-image: -moz-linear-gradient(top, #3e254a, #160d1b);
  background-image: -ms-linear-gradient(top, #3e254a, #160d1b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e254a), color-stop(100%, #160d1b));
  background-image: -webkit-linear-gradient(top, #3e254a, #160d1b);
  background-image: -o-linear-gradient(top, #3e254a, #160d1b);
  background-image: linear-gradient(#3e254a, #160d1b);
  border-color: #160d1b #160d1b hsl(281, 33%, 4.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.23);
  -webkit-font-smoothing: antialiased;
}
.navbar-inverse .navbar-brand {
  color: #faf7ff;
}
.navbar-inverse .navbar-brand:hover {
  color: #faf7ff;
}

#filedrag {
  width: 100%;
  position: absolute;
  height: 92%;
  margin: 0px;
  padding: 0px;
}

.hover,
.hover pre {
  background-color: #9e9ac8;
  border-color: #3E254A;
}

#filedrag .centermiddle {
  background-image: url('img/phylocanvas_logo.png');
  height: 600px;
  padding: 25px;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#filedrag i {
  margin-bottom: 0.25em;
}

#filedrag .info {
  font-size: 1.6em;
  font-weight: 300;
  margin-bottom: 2em;
}

#file-format-guide {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

#file-format-guide h3,
#file-format-guide h4 {
  font-weight: 300;
}

#file-format-guide .file-format-example {
  margin-top: 1em;
}

.center {
  text-align: center;
}

.clear {
	clear: both;
}
.pc-buttons
{
    background: #EEE;
}
.pc-buttons-title
{
    text-align: center;
    background: #ccc;
    padding: 0px;

}
.pc-buttons button {
	margin: 5px 0px;
}
.pc-buttons p
{
    padding: 5px 0px;
    margin: 0px;
    color: teal;
}
hr {
  padding: 0px;
  margin: 10px 5px;
  color: blue;
}
p.title {
  text-align: center;
  color: #000;
}

#phylocanvas {
	/*width: 100%;*/
  height: 99%;
  margin: 0px 0 0 60px;
}
#phylocanvas canvas{
  border: none;
}
.slider {
	width: 100%;
}
#searchbox {
  width: 100%;
}
.ui-dialog-titlebar {
  padding: 0px 1em !important;
}
.ui-dialog {
  font-size:  1em !important;
}
.ui-dialog-cotent {
  font-weight: normal;
}
#metadataColumns label{
    color:black;
    padding: 0px 5px;
    font-weight: normal;
    font-size: 12px;
    margin: 5px 2px;
}
#metadataColumns div {
  line-height:  5px;
}
.slideDiv {
  display: none;
  position: absolute;
  top: 0px;
  width:200px;
  max-height: 100%;
  height:100%;
  padding: 70px 5px 5px 5px;
  background-color: #eee;
  box-shadow: 0px 0px 7px #292929;
  -moz-box-shadow: 0px 0px 7px #292929;
  -webkit-box-shadow: 0px 0px 7px #292929;
  z-index: 2;
  left: -180px;
}

.slideDiv ul{
  float: right;
  right: 10px;
  display: block;
  width: 30px;
  list-style: none;
}
.slideDiv ul li {
  display: none;
  margin: 1px 0px;
  width: 35px;
  overflow: hidden;
}

.slideDiv ul li span{
  padding-left: 6px;
}
.slideDivContent {
  padding: 10px;
  position: absolute;
  display: none;
  width: 90%;
  height: 85%;
  overflow: auto;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 20px;
  font-weight: 300;
  font-size: 0.7em;
  background-color: #eee;
}
.footer p {
  margin: 0px 10px;
  text-align: center;
}
