:root {
  --pcGreen: #3C7383;
  --pcGreenLight: #9BB7BF;
  --transparentWhite: rgba(255, 255, 255, 0.9);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  font-family: Roboto, arial, sans-serif;
  font-weight: 300;
  font-size: 100%;
  color: var(--pcGreen);
}

header {
  padding: 1.5em 0 .5em;
  background: var(--transparentWhite);
}

.github-link {
  position: absolute;
  z-index: 1;
  top: 1em;
  left: 1em;
}

.github-link > img {
  width: 2em;
  fill: var(--pcGreen);
}

.logo {
  display: block;
  width: 80%;
  margin: 0 auto;
  max-width: 25em;
  transform: translateX(-5%);
}

@media (min-width: 25em) {
  .logo {
    width: 62.5%
  }
}


.lead {
  font-size: 1.25em;
}

@media(min-width: 25em) {
  .lead > br {
    display: none;
  }
}

#phylocanvas {
  position: absolute;
  top: 25%;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  text-align: left;
}

/* z-index-hacking to position things on top of tree */
.home-intro > header {
  position: relative;
}
.cta, .home-intro > header {
  z-index: 1;
}
.github-link, .menu {
  z-index: 2;
}

.menu {
  position: absolute;
  top: 1em;
  right: 1em;
  display: block;
}

.menu li {
  list-style: none;
  display: inline-block;
}

.menu a {
  color: var(--pcGreen);
  padding: .5em;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
  text-decoration: none;
}

.cta {
  padding: 1em 0;
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
  font-size: 1.25em;
}

@media (min-width: 48em) {
  .cta {
    font-size: 1.5em;
  }
}

.cta > span {
  padding: 1em;
  background-color: var(--transparentWhite);
}

.cta a {
  padding: 1em;
  background-color: var(--pcGreen);
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  border: 2px solid transparent;
}

.cta a:hover,
.cta a:focus,
.cta a:active {
  color: var(--pcGreen);
  border-color: currentColor;
  background-color: transparent;
}

html, body, section, #content, .full-height {
  height: 100%;
}

section {
  padding: 1em;
}

footer {
  background-color: var(--pcGreen);
  color: #fff;
  padding: 2em;
}

footer > p {
  line-height: 1.5;
}

footer > img {
  max-width: 30em;
}

.contact-email {
  display: block;
  color: #fff;
  font-size: 1.5em;
  margin: 0.5em 0 1.5em;
}

.contact-email:hover,
.contact-email:focus,
.contact-email:active {
  text-decoration: none;
}

.icon-acknowledgement {
  font-size: .8em;
  margin-top: 2em;
}

.icon-acknowledgement > a {
  color: #fff;
}
