:root {
  --pcGreen: #3C7383;
  --pcGreenLight: #9BB7BF;
  --transparentWhite: rgba(255, 255, 255, 0.9);
  --bodyColor: #666;
  --bodyFontFamily: Roboto, Arial, sans-serif;
  --headingFontFamily: "Roboto Condensed", var(--bodyFontFamily);
}

* {
  box-sizing: border-box;
}


/* Elements */

html, body, #content {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--bodyFontFamily);
  font-weight: 300;
  font-size: 100%;
  color: var(--bodyColor);
}

main {
  min-height: calc(100% - 340px);
}

h1, h2, h3 {
  font-family: var(--headingFontFamily);
  font-weight: 400;
  color: var(--pcGreen);
}

strong {
  font-weight: 400;
}

a {
  color: var(--pcGreen);
  font-weight: 400;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

a.active {
  font-style: italic;
}

a > img {
  width: 100%;
}

pre {
  overflow-x: auto;
  background-color: #efefef;
  border: 1px solid var(--pcGreenLight);
}

code {
  color: var(--pcGreen);
}

pre > code {
  display: block;
  padding: 1em;
  color: inherit;
}

pre, code {
  font-family: 'Roboto Mono', monospace;
  font-size: .9em;
}

footer {
  background-color: var(--pcGreen);
  color: #fff;
  padding: 2em;
}

footer > p {
  line-height: 1.5;
}

footer img {
  max-width: 30em;
}


/* Mixins */

.text-center {
  text-align: center;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

.margins {
  padding: 4em 2.5em 4em;
  max-width: 58.75em;
  margin: 0 auto;
  @media(min-width: 58.75em) {
    margin-right: calc(58.75em / 4);
  }
  @media(min-width: 80.25em) {
    margin-right: auto;
  }
}


/* page modifiers */

.home-page,
.home-page #content,
.home-page .full-height,
.docs-page {
  height: 100%;
}

.home-page .margins {
  padding: 0;
  height: 100%;
  max-width: none;
}

.home-page main {
  float: none;
  height: 100%;
  width: 100%;
}

.home-page .docs-logo,
.home-page .docs-nav {
  display: none;
}


/* Content - Header */

.github-link > img {
  width: 2em;
  fill: var(--pcGreen);
}

.top-nav {
  z-index: 2;
}

.top-nav {
  position: absolute;
  top: 1em;
  right: 1em;
  display: block;
}

.top-nav li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  padding: .5em;
}


/* Content - Home */

.logo {
  display: block;
  width: 80%;
  margin: 0 auto;
  max-width: 25em;
  transform: translateX(-5%);
}

@media (min-width: 25em) {
  .logo {
    width: 62.5%
  }
}

.lead {
  font-size: 1.25em;
}

@media(min-width: 25em) {
  .lead > br {
    display: none;
  }
}

#phylocanvas {
  position: absolute;
  top: 25%;
  left: 0;
  bottom: 5em;
  right: 0;
  z-index: 0;
  text-align: left;
  transition: opacity 0.2s cubic-bezier(.4,0,.2,1);
  opacity: 0;
}

.home-intro > header {
  color: var(--pcGreen);
  position: relative;
  padding: 1.5em 0 .5em;
  background: var(--transparentWhite);
}
.cta, .home-intro > header {
  z-index: 1;
}

.cta {
  position: absolute;
  bottom: 1.5em;
  left: 0;
  right: 0;
  @media (min-width: 48em) {
    font-size: 1.2em;
  }
}

.cta > a {
  padding: 0.875em 1em;
  background-color: var(--pcGreen);
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  border: 2px solid transparent;
}

.cta > a:hover,
.cta > a:focus,
.cta > a:active {
  background-color: var(--pcGreenLight);
}


/* Content - Docs */

.docs-logo {
  position: absolute;
  top: 0.8333em;
  left: 1em;
  display: block;
  font-size: 1.5em;
}

.docs-logo > img,
.docs-logo > span {
  display: inline-block;
  vertical-align: middle;
}

.docs-logo > img {
  width: 1.75em;
}

.docs-logo > span {
  padding-left: 0.5em;
  display: none;
  font-family: var(--headingFontFamily);
  @media(min-width: 28em) {
    display: inline-block;
  }
}

.docs-nav {
  z-index: 2;
  text-align: center;
  top: 4em;
  position: relative;
  @media(min-width: 58.75em) {
    text-align: right;
    position: fixed;
    right: 2em;
  }
}

.docs-nav > ul {
  list-style: none;
  margin: 0;
  padding: 0 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media(min-width: 58.75em) {
    display: block;
    padding: 0;
  }
}

.docs-nav li {
  margin: 0 0.5em 0.5em;
  white-space: nowrap;
  @media(min-width: 58.75em) {
    margin-right: 0;
  }
}

.feature-demo {
  height: 240px;
}


/* Content - Footer */

.contact-email {
  display: block;
  color: #fff;
  font-size: 1.5em;
  margin: 0.5em 0 1.5em;
}

.contact-email:hover,
.contact-email:focus,
.contact-email:active {
  text-decoration: none;
}

.icon-acknowledgement {
  font-size: .8em;
  margin-top: 2em;
}

.icon-acknowledgement > a {
  color: #fff;
}
