:root {
  --pcGreen: #3C7383;
  --pcGreenLight: #9BB7BF;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  font-family: Roboto, arial, sans-serif;
  font-weight: 300;
  font-size: 100%;
  color: var(--pcGreen);
}

header {
  padding-top: 2em;
}

.github-link {
  position: absolute;
  z-index: 1;
  top: 1em;
  left: 1em;
}

.github-link > img {
  width: 2em;
  color: var(--pcGreen);
}

.logo {
  display: block;
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
}

.lead {
  font-size: 1.25em;
}

@media(min-width: 25em) {
  .lead > br {
    display: none;
  }
}

#phylocanvas {
  flex-grow: 1;
  height: auto !important;
}

.menu {
  position: absolute;
  top: 1em;
  right: 1em;
  display: block;
}

.menu li {
  list-style: none;
  display: inline-block;
}

.menu a {
  color: var(--pcGreen);
  padding: .5em;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
  text-decoration: none;
}

.cta {
  padding: 1em 0;
}

.cta a {
  padding: 1em;
  background-color: var(--pcGreen);
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  border: 2px solid transparent;
}

.cta a:hover,
.cta a:focus,
.cta a:active {
  color: var(--pcGreen);
  border-color: currentColor;
  background-color: transparent;
}

html, body, section, footer, #content, .full-height {
  min-height: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

section {
  padding: 1em;
}

footer {
  background-color: var(--pcGreen);
  color: #fff;
  padding: 2em;
}

footer > p {
  line-height: 1.5;
}

footer > img {
  max-width: 30em;
}

.acknowledgements {
  font-size: 1em;
  margin-top: 2em;
}

.acknowledgements > a {
  color: #fff;
}
