extends ./layouts/main.jade

block content
  include ./pages/index.html

block post-scripts
  script(type='application/javascript').
    window.onload = function() {
      createOverviewTree();
    }
